.content {
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  padding: 40px 0 10px 0;
  background-color: $page-background-color;

  @extend .row;

  .main {
    @extend .col-sm-8;

    .page__image {
      width: 100%;
      margin-left: none;
      float: none;

      @include media-breakpoint-up(sm) {
        width: 300px;
        margin-left: 2em;
        float: right;
      }

      figcaption {
        font-size: 0.75em;
        text-transform: uppercase;
        text-align: right;
      }
    }
  }
}
